@media (max-width: 1599px) {

	/*=========================*/
	/* REUSEBLE COMPONENTS */
	/*=========================*/

	

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

}

@media (max-width: 1399px) {

	/*=========================*/
	/* REUSEBLE COMPONENTS */
	/*=========================*/

	

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

}

@media (max-width: 1199px) {

	/*========================*/
	/* REUSEBLE COMPONENTS */
	/*========================*/
	

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

}

@media (max-width: 991px) {

	/*========================*/
	/* REUSEBLE COMPONENTS */
	/*========================*/

	
	/*=====================*/
	/* HEADER SECTION */
	/*=====================*/
	.main__menu {
		position: relative;
		position: fixed;
		right: -100%;
		top: 0;
		height: 100vh;
		background: var(--primary-color);
		width: 50%;
		-webkit-transition: all 0.6s ease-in;
		-o-transition: all 0.6s ease-in;
		transition: all 0.6s ease-in;
		z-index: 999999;
	}

	/*- SHOW & HIDE MENU -*/
	.main__menu-show {
		right: 0;
		-webkit-transition: all 0.6s ease-in;
		-o-transition: all 0.6s ease-in;
		transition: all 0.6s ease-in;
	}

	.main__menu ul {
		width: 100%;
	}

	.main__menu li:not(:last-child) {
		margin-right: 0;
		margin-bottom: 2rem;
	}

	/* MENU SHOW & HIDE ICON */
	.menu__show__icon {
		display: block;
	}

	/* MOBAIL MENU TOGGLE SEARCH */
	.mobail__menu__search {
		width: 2.4rem;
		height: 2.9rem;
		text-align: center;
		line-height: 2.9rem;
		margin-top: .4rem;
		margin-right: 1.5rem;
	}

	.search-main > i {
		font-size: 2.1rem;
	}

	.search-main span {
		font-size: 2.6rem;
	}

	.header-search-wrapper .search-form-main {
		width: 30.6rem;
		right: -5rem;
		top: 150%;
	}

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/

	/*=====================*/
	/*  SECTION */
	/*=====================*/


}

@media (max-width: 768px) {
	tr.item-row td:nth-child(1) {
		width: 250px;
	}
	tr.note-term-row td {
		padding: 0;
	}
	.note-term-row,
	.res-logo,
	.res-bill-ship,
	.res-notes-terms,
	.res-signature {
		display: flex;
		flex-direction: column;
	}
	.note-term-row >td {
		width: 100%;
	}
	.res-logo td {
		width: inherit !important;
	}
	.res-label {
		margin-right: 0 !important;
	}
	.res-notes-terms > td {
		width: 100% !important;
	}
	.res-scroll {
		position: relative;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
	}
}

@media (max-width: 425px) {
	table#dynamic_field {
		width: 450px;
	}
	.signature {
		text-align: left !important;
	}
	tr.res-signature td {
		margin: 0 auto;
	}
}
