/*===================*/
/*-- VARIABLES --*/
/*===================*/
:root {
	--heading: 4rem;
	--ssub-heading: 2.5rem;
	--paragraph: 1.6rem;
	--primary-color: #00008B;
	--secondary-color: #FFFFFF;
}

/*===================*/
/*-- VARIABLES --*/
/*===================*/

html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

body {
	background: #eee;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.8;
	overflow-x: hidden;
}


.input-group-text {
    padding: 8px 12px;
    font-size: 14px;
	height: 38px;
}
.btn {
    font-size: 14px;
}

tr {
    white-space: nowrap;
}
/*==============================*/
/*-- REUSEBLE COMPONENTS --*/
/*==============================*/
section {
	overflow: hidden; /* for responsive table*/
}

.inv-info {
	padding: 20px;
	position: relative;
	background: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: 1px 1px 0 rgb(0 0 0 / 10%), 3px 3px 0 #fff, 4px 4px 0 rgb(0 0 0 / 13%), 6px 6px 0 #fff, 7px 7px 0 rgb(0 0 0 / 15%);
	-moz-box-shadow: 1px 1px 0 rgba(0,0,0,.1),3px 3px 0 #fff,4px 4px 0 rgba(0,0,0,.125),6px 6px 0 #fff,7px 7px 0 rgba(0,0,0,.15);
	box-shadow: 1px 1px 0 rgb(0 0 0 / 10%), 3px 3px 0 #fff, 4px 4px 0 rgb(0 0 0 / 13%), 6px 6px 0 #fff, 7px 7px 0 rgb(0 0 0 / 15%);
}

.inv-file-input,
.inv-info input,
.inv-info textarea {
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.1);
	font-size: 14px;
	color: #b7b7b7 !important;
}

input#paidamount {
	border-right: 1px solid rgba(0,0,0,.1);
}

::placeholder {
	font-size: 14px;
	color: #b7b7b7 !important;
}

.inv-file-input {
    position: relative;
	cursor: pointer;
	width: 200px;
    height: 130px;
    text-align: center;
	font-size: 16px;
	background: #f5f5f5;
}

.inv-file-input label {
    margin: 0;
	color: #7F7F7F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.inv-file-input input {
    opacity: 0;
    z-index: 9;
	cursor: pointer;
}

.preview,
.local-img {
    position: relative;
    max-width: 200px;
    max-height: 150px;
    margin-bottom: 15px;
}

.preview-img,
.local-img-preview {
	max-width: 100%;
	height: auto;
}

.close-img {
    cursor: pointer;
    font-size: 18px;
    background: #000;
    padding: 2px 5px;
    border-radius: 4px;
    color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}

.close-img:hover {
	background: #4B94D9;
}

.inv-title {
    overflow: hidden;
    margin-bottom: 45px;
}
.inv-number {
    max-width: 170px;
    float: right;
}

input[type="text"].inv-num-input::placeholder {
	text-align: right;
	cursor: text;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* button#dropdownMenuButton {
    position: absolute;
    right: 0;
    top: -25px;
    background: transparent;
    color: #000;
    border: none;
} */

input#tax-input,
input#discount-input,
input#shipping-input,
input#payment {
	border-right: 0;
	padding-left: 30px;
}

input#tax-input:focus,
input#discount-input:focus,
input#shipping-input:focus,
input.payment-input:focus {
	outline: none;
	box-shadow: none;
	border-color: rgba(0,0,0,.1);
}

.tax-type-dollar,
.discount-type-dollar,
.shipping-type-dollar,
.pay-type-dollar {
    position: absolute;
    left: 3px;
	z-index: 9;
	border-color: transparent;
}

.tax-type-prcent,
.discount-type-prcent,
.shipping-type-prcent {
	border-color: rgba(0,0,0,.1);
	padding-right: 2px;
    padding-left: 2px;
}

.tax .input-group-text,
.discount .input-group-text,
.shipping .input-group-text{
	background: transparent;
	border-left: 0;
	border-right: 0;
}

button.tax-type-btn,
button.discount-type-btn,
button.shipping-type-btn {
	border-top: 1px solid #ced4da;
	border-bottom: 1px solid #ced4da;
	border-right: 1px solid #ced4da;
	border-left: 1px solid transparent;
	background-color:transparent;
	
}


button.tax-type-btn:focus,
button.discount-type-btn:focus,
button.shipping-type-btn:focus {
	outline: none;
	box-shadow: none;
	
}

ul#tax-type-selector li,
ul#discount-type-selector li,
ul#shipping-type-selector li{
	cursor: pointer !important;
}

.active {
	font-weight: bold;
}


.delete-btn {
    border: none;
    color: blue;
    background: transparent;
    font-weight: 700;
    font-size: 24px;
    opacity: 0;
}

.delete-btn:hover {
    opacity: 1;
}

span#payment-input-text {
    background: transparent;
	border-color: rgba(0,0,0,.1);
    border-right-color: transparent;
}

input.payment-input {
    border-left-color: transparent;
}


/* auto resize style */
input#grandTotal,
input#duebalance,
input#subtotal {
    border: none;
	font-size: 16px;
    color: #000 !important;
}

.notes-holder,
.terms-holder {
	word-break: break-word;
}

/* signature img size */
.signature {
    max-width: 250px;
	margin-left: auto;
}
.signature img {
    height: 100%;
}
tr.res-signature td {
    vertical-align: middle;
}

/* ========================================== */
.table td, .table th {
	border: 0;
}

.input-group input {
	border-right: 0px;
}
.btn[disabled="disabled"]{
	cursor: not-allowed;
	pointer-events: auto;
}

/* ========================================= login page css */
.modal.show {
	padding-left: 4px;
}
.modal-dialog {
	max-width: 95vw;
	/* top: -18px; */
}

tr.item-row.item-head,
.table-hover tbody tr.item-head:hover {
    background: #393939;
    color: #fff;
}

table.pdf-table td {
    padding: 0 .75rem;
}

.table-hover tbody tr:hover {
    background-color: inherit;
}

.printable{display:none;}

.alert.alert-warning {
    max-width: 537px;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 10px;
}

input.form-control {
    font-size: 16px;
}

.modal-table-form table td {
	padding-top: 1px;
	padding-bottom: 1px;
}

/* login & registration page css */
.login-area {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.registration-from label {
    margin: 0;
}